# {{project_name}}

```bash
copier copy https://github.com/gregunz/my-python-template {{project_name}}
```

## Setup

Create your python environment:

```bash
uv sync
```

## Propagate Template Updates

```bash
copier update
```
